# node
/node_modules
/.pnpm-store

# next.js
/.next
/out

# firebase build
/.firebase

# next swc binaries
*.node

# dlls and exe from image & build tools
*.dll
*.exe

# webpack packs
*.pack

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env*
.env.local

# other
*.zip
*.sqlite
*.db
*.log

# large manual files
estrutura_projeto.txt
